<h1>New Picture</h1>
<%= link_to 'Back to Pictures', pictures_path %>

<%= form_for @picture do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
